{% extends "main.html" %}
{% block content %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
			<a href="{{url_for('showLogin')}}">Click Here to Log in </a>
		</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Categories</h1>
		</div>
	</div>

	<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
        <div class="alert alert-info alert-dismissible">
        	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <li> <strong> {{ message }} </strong> </li>
         </div>   
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>


	
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none"></div>
		<div class="col-md-1"></div>
	</div>

<div class="col-md-5"><h2>Categories</h2></div><div class="col-sm-1"></div><div class="col-sm-6"><h2>Latest Items Added</h2></div>
<div class="col-md-5"	>
	<div class="row">	
	{% for category in categories %}
		<a href = "{{url_for('showCatItems', category_id = category.id)}}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 categories-list">
						<h3>{{category.name}}</h3>
					</div>


			</div>
		</a>
	{% endfor %}

	</div>
</div>
<div class="col-md-7">
		<div class="row">	
	{% for item in items %}
		<a href = "{{url_for('showCatItems', category_id = item.category.id)}}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 categories-list">
						<h3>{{item.name }}  (<i style="color:blue;">{{item.category.name}}</i>)</h3>
					</div>
				<!--<div class="col-md-5 categories-list"><h3>{{items[0].category.name}}</h3></div>-->
			</div>
		</a>
	{% endfor %}

	</div>


</div>		
{% endblock %}
